<div class="row whole-page">
    <div class="col-4 " id="left-calender">
        <div style="text-align:center;">
            <mat-calendar [(selected)]="selectedDate"></mat-calendar>

            <p *ngIf="selectedDate">Selected date: {{ selectedDate | date }}</p>
        </div>
        <div class="location">
            <div class="location-title">
                <p>Locations</p>
            </div>
            <ul>
                <li *ngFor="let location of Locations" class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="parent1" class="parent-checkbox" [(ngModel)]="location.checked"
                        (change)="onParentCheckboxChange($event)">
                    <label for="parent1">{{location.LocationName}}</label>
                    <ul class="children hidden">
                        <li *ngFor = "let provider of Providers">
                            <input type="checkbox" id="child{{provider.ProviderId}}" class="child-checkbox">
                            <label for="child1-1">{{provider.FirstName}} {{provider.LastName}}</label>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="providers-sec">
            <div class="location-title">
                <p>Providers</p>
            </div>
            <ul>
                <li class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="provider1" class="parent-checkbox"
                        (change)="onParentCheckboxChange($event)">
                    <label for="provider1">Provider 1</label>
                    <ul class="children hidden">
                        <li>
                            <input type="checkbox" id="provider1-sub1" class="child-checkbox">
                            <label for="provider1-sub1">Sub-provider 1.1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="provider1-sub2" class="child-checkbox">
                            <label for="provider1-sub2">Sub-provider 1.2</label>
                        </li>
                    </ul>
                </li>
                <li class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="provider2" class="parent-checkbox"
                        (change)="onParentCheckboxChange($event)">
                    <label for="provider2">Provider 2</label>
                    <ul class="children hidden">
                        <li>
                            <input type="checkbox" id="provider2-sub1" class="child-checkbox">
                            <label for="provider2-sub1">Sub-provider 2.1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="provider2-sub2" class="child-checkbox">
                            <label for="provider2-sub2">Sub-provider 2.2</label>
                        </li>
                    </ul>
                </li>
                <li class="tree-node">
                    <button class="toggle-button" (click)="toggleChildren($event)">></button>
                    <input type="checkbox" id="provider3" class="parent-checkbox"
                        (change)="onParentCheckboxChange($event)">
                    <label for="provider3">Provider 3</label>
                    <ul class="children hidden">
                        <li>
                            <input type="checkbox" id="provider3-sub1" class="child-checkbox">
                            <label for="provider3-sub1">Sub-provider 3.1</label>
                        </li>
                        <li>
                            <input type="checkbox" id="provider3-sub2" class="child-checkbox">
                            <label for="provider3-sub2">Sub-provider 3.2</label>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="scheduler-table" class="col-8">
        <div class="calendar-header">
            <daypilot-calendar [config]="config" #calendar></daypilot-calendar>
        </div>
        
    </div>
</div>